In [14]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [15]:
# function to modify and clean dataframe
def preProcessing(orgDf):
  df=orgDf.drop(["Name","Ticket","Fare","Cabin"],axis=1) #drop these columns
  # df=df.drop(np.where(df['Embarked'].isna())[0],axis=0) #drop the rows where the value of Embarked is NaN
  df['Sex']=df['Sex'].replace(['male','female'],[0,1]) # convert sex column into 0 and 1
  df['Age']=df['Age'].fillna(df['Age'].mean()) # replace NaN values in Age with its sd
  # label encoding the Embarked column
  lbl_encoder = preprocessing.LabelEncoder()
  lbl_encoder.fit(df['Embarked'])
  df['Embarked']=lbl_encoder.transform(df['Embarked'])
  # df['SibSp']=df['SibSp']+df['Parch']
  # df=df.drop('Parch',axis=1)
  return df #return the processed dataframe

# this function will return np array with tranformed values
def scale(x):
  sclr=StandardScaler()
  return sclr.fit_transform(x)

In [16]:
orgDf=pd.read_csv("/content/train.csv")
# orgCols=orgDf.columns
# orgCols=np.delete(orgCols,[0,3,8,9,10])

df=preProcessing(orgDf)
#convert df into dataframe using originals columns name
# df=pd.DataFrame(df,columns=orgCols)

# for practice
# splitting the data int0 4:1 ratio
# df_train,df_test=train_test_split(df,test_size=0.2,random_state=42)
#defining features and labels
# x_train,y_train=df_train.drop(['Survived'],axis=1),df_train['Survived']
# x_test,y_test=df_test.drop(['Survived'],axis=1),df_test['Survived']

#applying standard scalar on x train and x test
# x_train=scale(x_train)
# x_test=scale(x_test)

# for final run
x_train,y_train=df.drop(['Survived'],axis=1),df['Survived']
x_train=scale(x_train)

In [4]:
df.head(5)
# x_train

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0            1         0       3    0  22.0      1      0         2
1            2         1       1    1  38.0      1      0         0
2            3         1       3    1  26.0      0      0         2
3            4         1       1    1  35.0      1      0         2
4            5         0       3    0  35.0      0      0         2

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [6]:
# y_train.head()

In [18]:
mymodel=LogisticRegression(random_state=0).fit(x_train,y_train)
dc_model=DecisionTreeClassifier(random_state=0).fit(x_train,y_train)
rf_model=RandomForestClassifier(random_state=0).fit(x_train,y_train)
kn_model=KNeighborsClassifier(n_neighbors=6).fit(x_train,y_train)

In [19]:
# load test_data
test_data=pd.read_csv("/content/test.csv")
#passenger id
pid=pd.DataFrame(test_data['PassengerId'])
#cleaning test data
test_data=preProcessing(test_data)
#scale test data
test_data=scale(test_data)

In [20]:
test_result=rf_model.predict(test_data)

In [21]:
pid['Survived']=test_result

In [22]:
pid.to_csv("result.csv",index=False)

In [23]:
print(f"LR : {mymodel.score(x_test,y_test)}")
print(f"DC : {dc_model.score(x_test,y_test)}")
print(f"RF : {rf_model.score(x_test,y_test)}")
print(f"KN : {kn_model.score(x_test,y_test)}")

LR : 0.8100558659217877
DC : 0.9050279329608939
RF : 0.9608938547486033
KN : 0.8212290502793296

In [13]:
pid.shape

(418, 2)